<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  </head>

  <body>
    <!-- Full Width Image Header -->
    <table width="100%" style="background: #272727;">
      <tr><td><h1 style="width: 100%; text-align: center; background: #272727 !important;"><font style="color: #F9AA03;">Plex Weeklyx</font></h1></td></tr>
      <tr><td><h3 style="width: 100%; text-align: center; background: #272727 !important;"><font style="color: #9A9A9A;">Week of <%= now = DateTime.now; (now - now.wday).strftime('%m/%d/%Y') %></font></h3></td></tr>
    </table>

    <!-- Page Content -->
    <div class="container">

      <%- unless potw.nil? %>
        <div class="headline" style="background: #FFF !important; padding-top: 0px !important;">
          <h1 style="width: 100%; text-align: center; background: #FFF !important;"><font style="color: #F9AA03;">Pick-of-the-Week</font></h1>
        </div>
        <hr class="featurette-divider"><br/>&nbsp;

        <table>
          <%= Erubis::Eruby.new(File.read("_movie_row.html.erb")).result(movie: potw) %>
        </table>
      <% end %>

      <!-- New Movies -->
      <div class="headline" style="background: #FFF !important; padding-top: 0px !important;">
        <h1 style="width: 100%; text-align: center; background: #FFF !important;"><font style="color: #F9AA03;">New Movies</font></h1>
      </div>
      <hr class="featurette-divider"><br/>&nbsp;

      <table>
        <%- movies.each do |movie| %>
          <%= Erubis::Eruby.new(File.read("_movie_row.html.erb")).result(movie: movie) %>
        <% end %>
      </table>

      <!-- New TV Shows -->
      <div class="headline" style="background: #FFF !important; padding-top: 0px !important;">
        <h1 style="width: 100%; text-align: center; background: #FFF !important;"><font style="color: #F9AA03;">New TV Episodes</font></h1>
      </div>
      <hr class="featurette-divider"><br/>&nbsp;

      <table>
        <%- shows.each do |episode| %>
          <%= Erubis::Eruby.new(File.read("_show_row.html.erb")).result(episode: episode) %>
        <% end %>
      </table>
    </div>
    <!-- /.container -->
  </body>

</html>